@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --variant-dark: .dark &;
}

* {
  @apply transition-colors duration-300;
}

body {
  @apply bg-gray-200 dark:bg-gray-950 duration-300;
}
