@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --variant-dark: .dark &;
}

* {
  @apply transition-colors duration-300;
}

body {
  font-family: var(--font-inter);
  @apply bg-gray-200 dark:bg-gray-950 duration-300;
}

code {
  @apply bg-gray-200 dark:bg-gray-950 block font-mono p-5 py-2.5 rounded-lg text-blue-600 dark:text-blue-400 text-lg border-2 border-gray-700 my-5;
}

.modal-open {
  @apply overflow-hidden;
}
